@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Website is dedicated to holding lists of Actors and movies. </p>
    <p>Actors and movies can be added, deleted and edited. </p>
    <p>When you add an actor or a movie the name will be sent to a reddit API </p>
    <p>The first 100 entires are displayed on that actor or movie in the details page and given a score </p>
    <p>You can also create a table that displays actors and the movies they are in</p>

</div>
